
@{
    ViewBag.Title = "index";
}

<link rel="stylesheet" type="text/css" href="../../Frontend/inputfields.css" />
<script type="text/javascript" src="~/Frontend/Searchpage.js"></script>
 

<!-- Input Fields -->
<template id="fromSearch">
    <div class="col-3 input-effect">
        <input class="inline-effect" type="text" placeholder="">
        <label>First Name</label>
        <span class="focus-border"></span>
    </div>

</template>

<!-- Check boxes -->

<!-- Result buttons -->

<!-- Payment informations -->

<!-- From - to header -->
