################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/benkofamerica/v15/.suo
*.sqlite
*.cache
*.sqlite-journal
GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide-shm
GOTO/.vs/GOTO/v15/Server/sqlite3/db.lock
GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide
GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide-wal
/GOTO/.vs/GOTO/v15/Server/sqlite3/db.lock
/GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide
/GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide-shm
/GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide-wal

