GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide-wal
GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide-shm
GOTO/.vs/GOTO/v15/Server/sqlite3/storage.ide
GOTO/.vs/GOTO/v15/Server/sqlite3/db.lock
/GOTO/GOTO/obj/Debug/CoreCompileInputs.cache
