<div id="applicationWrapper" class="col-12 d-flex flex-fill justify-content-center">
    <div id="mainPage" class="navigationPage">
        <div class="col-xs-12 col-sm-12 d-flex justify-content-center">
            <img src="~/Frontend/Images/rq9MmY0.png" />
        </div>
        <div id="SearchFrom" class="col-xs-12 col-sm-12 d-flex justify-content-center" style="margin-top: 20px;"></div>
        <div class="col-xs-12 col-sm-12 d-flex justify-content-center" style="margin-top: 20px;">
            <img class="pic32" src="~/Frontend/Images/circus-camel.svg" />
        </div>
        <div id="SearchTo" class="col-xs-12 col-sm-12 d-flex justify-content-center" style="margin-top: 20px;"></div>
        <div id="parcelData" class="col-xs-12 col-sm-10 d-flex flex-column justify-content-center" style="margin-top: 20px;"></div>
        <div id="parcelType" class="col-xs-10 col-sm-8 d-flex justify-content-center" style="margin-top: 20px;"></div>
        <div class="col-xs-12 col-sm-12 d-flex justify-content-center" style="margin-top: 20px">
            <button class="btn btn-success" onclick="ShowResultPage()">Search</button>
        </div>


    </div>
    <div id="resultPage" class="navigationPage">
        <p>ResultPage with routes</p>
        <div id="routeOverviewWrapper" class="col-xs-12 col-sm-12">
            <p>Template From To destination</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <h3>Routes</h3>
            <div id="routeListWrapper">
            </div>
        </div>
    </div>
    <div id="paymentPage" class="navigationPage">
        <p>PaymentPage</p>
        <div id="paymentOverviewWrappper" class="col-xs-12 col-sm-12">
            <p>Template From To destination</p>
        </div>
        <div id="tos" class="col-xs-12 col-sm-12 mt-4">
            <p>Terms and Conditions</p>
        </div>
        <div id="paymentwrapper"class="col-xs-12 col-sm-12 mt-4">
            <p>Payment</p>
        </div>
        <div class="col-xs-12 col-sm-12 d-flex justify-content-center" style="margin-top: 20px">
            <button class="btn btn-basic w-100" onclick="ShowResultPage()">Pay</button>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button onclick="ShowConfirmationPage()">Pay </button>
        </div>
    </div>
    <div id="confirmationPage" class="navigationPage"></div>
    <div id="loadingScreen">
        <p>We are loading the page for you!</p>
    </div>
</div>

<!-- From inputfield - Search page -->
<template id="fromSearch">
    <div class="col-xs-10 col-sm-8 input-effect">
        <input id="autoFrom" class="effect-17" type="text" placeholder="">
        <label>From</label>
        <span class="focus-border"></span>
    </div>
</template>

<!-- To inputfield - Search page -->
<template id="toSearch">
    <div class="col-xs-10 col-sm-8 input-effect">
        <input id="autoTo" class="effect-17" type="text" placeholder="">
        <label>To</label>
        <span class="focus-border"></span>
    </div>
</template>

<template id="ParcelType">
    <div class="col-xs-10 col-sm-8">
        <div class="row d-flex justify-content-center">
            <input type="radio" name="type"/> <img onclick="popOver()" class="popoverIcon1" src="~/Frontend/Images/cow-light.svg" style="width: 16px; height: 16px;" data-toggle="popover" title="Livestock" data-placement="top" data-content="Are you shipping any live animals?"/>
            <input type="radio" name="type" style="margin-left: 15px;"/> <img class="popoverIcon2" src="~/Frontend/Images/fragile-light.svg" style="width: 16px; height: 16px;" data-toggle="popover" data-placement="top" title="Fragile" data-content="Does your parcel need to be kept cool?"/>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 20px;">
            <input type="radio" name="type"/> <img class="popoverIcon3" src="~/Frontend/Images/snowflake-light.svg" style="width: 16px; height: 16px;" data-toggle="popover" title="Refrigiated" data-placement="top" data-content="Do we need to handle the parcel with care?"/>
            <input type="radio" name="type" style="margin-left: 15px;"/> <img class="popoverIcon4" src="~/Frontend/Images/map-marker-alt-light.svg" style="width: 16px; height: 16px;" data-toggle="popover" data-placement="top" title="Recorded package" data-content="Do you need to get a signature for the delivery?"/>
        </div>


    </div>
</template>

<template id="ParcelData">
    <div class="row">
        <div class="col-xs-10 col-sm-8 d-flex justify-content-center" style="height: 40px;">
            <img src="~/Frontend/Images/weight-hanging-solid.svg" class="pic32 d-flex justify-content-center" /><input class="effect-8 col-xs-10 col-sm-8" type="number" placeholder="Weight"> 
            <span class="focus-border">
                <i></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-4 d-flex align-items-center">
            <img src="~/Frontend/Images/arrows-alt-v-solid.svg" class="pic32" /> <input class="effect-8 col-4" type="number" placeholder="Height">
            <img style="transform: rotate(90deg);" src="~/Frontend/Images/arrows-alt-v-solid.svg" class="pic32" /><input class="effect-8 col-4" type="number" placeholder="Width">
            <img style="transform: rotate(45deg);" src="~/Frontend/Images/arrows-alt-v-solid.svg" class="pic32" /> <input class="effect-8 col-4" type="number" placeholder="Depth">
            <span class="focus-border">
                <i></i>
            </span>
        </div>
    </div>
</template>

<!-- Result List -->
<template id="routeWrapperTemplate">
    <div class="routeWrapper col-12">
        <a onclick="chooseRoute(this.parentElement)"><span class="link-spanner"></span></a>
        <div class="routeWrapperUpper">
            <img src="~/Frontend/img/placeholder.svg" />
            <h2></h2>
        </div>
        <div class="routeWrapperLower">
            <div class="col-6 routeWrapperTime">
                <img src="~/Frontend/img/placeholder.svg" />
                <p><span class="routeTime"></span> hrs</p>
            </div>
            <div class="col-6 routeWrapperTime">
                <img src="~/Frontend/img/placeholder.svg" />
                <p>$<span class="routePrice"></span></p>
            </div>
        </div>
    </div>
</template>

<template id="searchingRouteWrapperTemplate">
    <div class="routeWrapper searchingRouteWrapper col-12">
        <div class="animation text-center">
            <p style="padding-top: 40px;">We're fetching you're results.</p>
            <p>Please hold on...</p>
        </div>
        <div class="routeWrapperUpper">
            <h2>&nbsp;</h2>
        </div>
        <div class="routeWrapperLower">
            <div class="col-6 routeWrapperTime">
                <p>&nbsp;</p>
            </div>
            <div class="col-6 routeWrapperTime">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</template>

<template id="paymentTemplate">
    <div class="col-12">
        <div class="row d-flex flex-fill">
            <input type="text" onchange="isCreditCardValid(this)" class="form-control col-12 creditcard" placeholder="Creditcard number"/> 
        </div>
        <div class="row d-flex flex-fill pt-2">
            <div class="col-12 p-0 d-flex">
                <div class="col-6 p-0 d-flex">
                    <input type="text" maxlength="2"  onchange="isNumberValid(this, 2)" class="form-control col-5 d-flex mr-1" placeholder="DD"/>
                    <span class="payment-slash">/</span>
                    <input type="text" maxlength="2" onchange="isNumberValid(this, 2)" class="form-control col-5 d-flex ml-1" placeholder="MM"/>
                </div>
                <div class="col-6 d-flex justify-content-end p-0">
                    <input type="text" maxlength="3" onchange="isNumberValid(this, 3)" class="form-control d-flex col-6" placeholder="CVC"/>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Succes page -->
<template id="succesTemplate">
    <div class="col-xs-10 col-sm-8 row d-flex justify-content-center" style="border: green 2px solid; height: 300px">
        <div class="row d-flex w-100 justify-content-center" style="height:20px"><h2 class="d-flex justify-content-center"><u class="d-flex justify-content-center">Success</u></h2> </div>
        <div class="d-flex w-100 justify-content-center align-items-center row" style="margin-top: -20px;"><img src="~/Frontend/Images/check-circle-solid.svg" style="color: green; height: 48px; width: 48px" /></div>
        <div class="d-flex justify-content-center">
            <p>Thank you for placing an order with Telstar Logistics. 
                <br/>
                Here is your Order ID for your records: ORDERID 
                <br/>
                If you wish to place another Order please click the button below. </p>
        </div>
       <div class="col-12 d-flex justify-content-center">
           <div id="routeResult" class="col-4" style="border: green 1px solid; height: 50px;">
               <div>
                   <span class="succesFrom"></span>
                   <img class="pic16" src="~/Frontend/Images/circus-camel.svg" />
                   <span class="succesTo"></span>
               </div>
               <div class="row d-flex justify-content-center">
                   <img src="~/Frontend/Images/clock-regular.svg" class="pic16"/><span class="succesTime"></span>
                   <img src="~/Frontend/Images/dollar-sign-solid.svg" class="pic16"/><span class="succesPrice"></span>
               </div>
               <br/>
           </div>
       </div>

        <div class="col-xs-10 col-sm-8 d-flex justify-content-center">
            <button class="btn btn-success" onclick="ShowMainPage()" style="height: 50px">Ship another parcel</button>
        </div>
       
    </div>
    
    
    
   
</template>

<template id="routeOverviewTemplate">
    <div class="col-sm-8 col-xs-10">
        <div class="row d-flex flex-fill">
            <div class="col-4 destination d-flex flex-fill align-items-center justify-content-center">
                <span class="from">From:</span>
            </div>
            <div class="col-4 d-flex flex-fill align-items-center justify-content-center">
                <img class="camel" src="~/Frontend/Images/circus-camel.svg">
            </div>
            <div class="col-4 destination d-flex flex-fill align-items-center justify-content-center">
                <span class="to">To:</span>
            </div>
        </div>
    </div>
</template>

<template id="paymentOverviewTemplate">
    <div class="col-sm-8 col-xs-10">
        <div class="row d-flex flex-fill">
            <div class="col-4 destination d-flex flex-fill align-items-center justify-content-center">
                <span class="from">From:</span>
            </div>
            <div class="col-4 d-flex flex-fill align-items-center justify-content-center">
                <img class="camel" src="~/Frontend/Images/circus-camel.svg">
            </div>
            <div class="col-4 destination d-flex flex-fill align-items-center justify-content-center">
                <span class="to">To:</span>
            </div>
        </div>
        <div class="row d-flex flex-fill">
            <div class="col-12 d-flex flex-fill justify-content-center p-0">
                <button class="btn btn-basic w-100 mt-1" onclick="ShowResultPage()">Change route</button>
            </div>
        </div>

    </div>
    
</template>

<template id="tosTemplste">
    <div class="col-xs-10 col-sm-8">
        <input type="checkbox"/> <a href="https://www.apple.com/ca/legal/internet-services/itunes/ca/terms.html" > I hereby agree to the therms of service</a>
    </div>
</template>

<script>
    //POPOVER - NEEDS TO BE INIT WITH JQUERY
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
