<div id="applicationWrapper" class="col-12 d-flex flex-fill justify-content-center">
    <div id="mainPage" class="navigationPage">
        <div class="col-xs-12 col-sm-12">
            <p>Put in logo</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>From destination</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>logo between destinations</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>To destination</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>Options</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button onclick="ShowResultPage()">Search</button>
        </div>
    </div>
    <div id="resultPage" class="navigationPage">
        <p>ResultPage with routes</p>
        <div class="col-xs-12 col-sm-12">
            <p>Template From To destination</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>Routes</p>
            <div id="routeListWrapper">
                <div class="routeWrapper col-12">
                    <div class="routeWrapperUpper">
                        <img src="~/Frontend/img/placeholder.svg" />
                        <h2>Fastest</h2>
                    </div>
                    <div class="routeWrapperLower">
                        <div class="col-6">
                            <img src="~/Frontend/img/placeholder.svg" />
                            <p>Time</p>
                        </div>
                        <div class="col-6">
                            <img src="~/Frontend/img/placeholder.svg" />
                            <p>Price</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button onclick="ShowPaymentPage()">Choose this route</button>
        </div>
    </div>
    <div id="paymentPage" class="navigationPage">
        <p>PaymentPage</p>
        <div class="col-xs-12 col-sm-12">
            <p>Template From To destination</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>Terms and Conditions</p>
        </div>
        <div id="paymentwrapper"class="col-xs-12 col-sm-12">
            <p>Payment</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button onclick="ShowConfirmationPage()">Pay </button>
        </div>
    </div>
    <div id="confirmationPage" class="navigationPage">
        <p>ConfirmationPage</p>
        <div class="col-xs-12 col-sm-12">
            <p>Success Text</p>
            <p>Success Image</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <p>Order</p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button onclick="ShowMainPage()">Ship another parcel</button>
        </div>
    </div>
    <div id="loadingScreen">
        <p>We are loading the page for you!</p>
    </div>
</div>

<!-- Result List -->
<template id="routeWrapperTemplate">
</template>

<template id="paymentTemplate">
    <div class="col-12">
        <div class="row d-flex flex-fill">
            <input type="text" class="form-control col-xs-10 col-sm-8 creditcard" placeholder="Creditcard number"/> 
        </div>
        <div class="row d-flex flex-fill pt-2">
            <div class="col-xs-10 col-sm-8 p-0 d-flex">
                <div class="col-xs-9 col-sm-9 p-0 d-flex">
                    <input type="text" class="form-control col-xs-3 col-sm-3 d-flex mr-1" placeholder="DD"/>
                    <span class="payment-slash">/</span>
                    <input type="text" class="form-control col-xs-3 col-sm-3 d-flex ml-1" placeholder="MM"/>
                </div>

                <input type="text" class="form-control col-xs-3 col-sm-3 d-flex" placeholder="CVC"/>
            </div>
        </div>
    </div>
</template>