<div id="mainPage">
    <p>MainPage</p>

</div>
<div id="resultPage">
    <p>ResultPage</p>
    <div class="col-xs-4 d-flex flex-fill">
        <p class="overview-from-field">From:</p>
    </div>
    <div class="col-xs-4 bg-danger"></div>
    <div class="col-xs-4 d-flex flex-fill">
        <p class="overview-to-field">to:</p>
    </div>

</div>
<div id="paymentPage">
    <p>PaymentPage</p>

</div>
<div id="confirmationPage">
    <p>ConfirmationPage</p>

</div>
