<div id="mainPage">
    <p>MainPage</p>
</div>
<div id="resultPage" onload="showInput_field()">
    <p>ResultPage</p>

</div>
<div id="paymentPage">
    <p>PaymentPage</p>

</div>
<div id="confirmationPage">
    <p>ConfirmationPage</p>

</div>
